<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title if title else "Bokeh Plot" }}</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
      h1 {
          margin: 1.5em 0 0 0;
          color: #2e484c;
          font-family: 'Julius Sans One', sans-serif;
          font-size: 1. 6em;
          text-transform: uppercase;
      }
      p {
          font: "Libre Baskerville", sans-serif;
          text-align: left;
          text-justify: inter-word;
    </style>
  </head>
  <body>
    <div>
    <h1>decks.de records</h1>
    </div>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
  </body>
</html>
